**Pair programming Estadística Inferencial**

**Ejercicios estadística inferencial**


1. Igual que en los ejercicios de la clase invertida, evalúa si las siguientes afirmaciones corresponden a una distribución exponencial o poisson.

- ¿El tiempo que transcurre entre la llegada de autobuses a una parada sigue una distribución exponencial o de Poisson?

- Exponencial

- ¿El número de errores en un artículo de noticias sigue una distribución exponencial o de Poisson?
- Poisson

- ¿El tiempo que transcurre entre la llegada de solicitudes de servicio en un restaurante sigue una distribución exponencial o de Poisson?
- Exponencial

- ¿El número de accidentes de tráfico en una hora en una ciudad sigue una distribución exponencial o de Poisson?
-Poissson

- ¿El tiempo entre llegadas de llamadas telefónicas a una central de emergencias sigue una distribución exponencial o de Poisson?
- Exponencial

- ¿El número de clientes que ingresan a una tienda en una hora sigue una distribución exponencial o de Poisson?
- Poisson

- ¿El tiempo entre llegadas de correos electrónicos en una bandeja de entrada sigue una distribución exponencial o de Poisson?
- Exponencial

- ¿El número de defectos en una línea de producción por día sigue una distribución exponencial o de Poisson?
- Poisson

- ¿El tiempo que transcurre entre la llegada de taxis en una parada sigue una distribución exponencial o de Poisson?
- Exponencial

- ¿El número de errores de ortografía en un libro de texto sigue una distribución exponencial o de Poisson?
- Poisson

2. Ejercicios intervalo de confianza. Al igual que en el caso del ejercicio de la clase invertida, piensa un motivo por el que sería interesante calcular estos intervalos de confianza para la extracción de insights.

- Intervalo de Confianza para la Esperanza de Vida

Contexto: Trabajas en una organización de salud global y deseas estimar el intervalo de confianza al 95% para la esperanza de vida promedio de cada continente.

Nota: Cuidado porque puede que os salgan algunos nulos, genera un código para que no salgan nulos en los intervalos de confianza.

- Intervalo de Confianza para el PIB

Contexto: Eres una economista y quieres calcular el intervalo de confianza al 90% para el Producto Interno Bruto (PIB) de los continentes.

- Intervalo de Confianza para la Tasa de Natalidad

Contexto: Trabajas en una agencia gubernamental que se ocupa de cuestiones demográficas y deseas determinar el intervalo de confianza al 99% para la tasa de natalidad promedio en Asia.

- Intervalo de Confianza para la Tasa de Desempleo

Contexto: Eres un analista de políticas públicas y deseas calcular el intervalo de confianza al 95% para la tasa de desempleo promedio en los países de Oceanía.

- Intervalo de Confianza para la Tasa de Impuestos

Contexto: Trabajas en un ministerio de finanzas y deseas estimar el intervalo de confianza al 90% para la tasa de impuestos promedio en los países de África.

In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
import scipy.stats as stats
from scipy.stats import shapiro, poisson, chisquare, expon, kstest


# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")


from itertools import combinations

In [5]:
df = pd.read_csv('PromoG-Modulo3-Sprint2-Pair-Isa_Nerea/world_data_full_apply_nulos.csv', index_col=0)

In [6]:
df.columns

Index(['country', 'density', 'abbreviation', 'agricultural_land', 'land_area',
       'armed_forces_size', 'birth_rate', 'calling_code', 'capital/major_city',
       'co2-emissions', 'cpi', 'cpi_change', 'currency-code', 'fertility_rate',
       'forested_area', 'gasoline_price', 'gdp',
       'gross_primary_education_enrollment',
       'gross_tertiary_education_enrollment', 'infant_mortality',
       'largest_city', 'life_expectancy', 'maternal_mortality_ratio',
       'minimum_wage', 'official_language', 'out_of_pocket_health_expenditure',
       'physicians_per_thousand', 'population',
       'population_labor_force_participation', 'tax_revenue', 'total_tax_rate',
       'unemployment_rate', 'urban_population', 'latitude', 'longitude',
       'continent'],
      dtype='object')

In [21]:
dicc = dict(df.groupby('continent')[life_expectancy''].mean())
dicc

{'Africa': 63.724999999999994,
 'Asia': 73.78181818181818,
 'Central America': 74.69,
 'Europe': 79.20232558139534,
 'North America': 80.2,
 'Oceania': 71.125,
 'South America': 74.81538461538462}

In [24]:
continentes = df['continent'].unique()
continentes

array(['Asia', 'Europe', 'Africa', 'Central America', 'South America',
       'Oceania', 'North America', nan], dtype=object)

In [25]:
for continente in continentes:
    globals()[f"df_{continente}"] = df[df['continent'] == continente]

In [27]:
df_Europe.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,41.153332,20.168331,Europe
3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.000,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77.142,NaN,NaN,NaN,NaN,67.873,42.506285,1.521801,Europe
9,Austria,109.0,AT,32.4,83.871,21.0,9.70,43.0,Vienna,61.448,118.06,1.5,EUR,1.47,46.9,1.20,4.463147e+11,103.1,85.1,2.9,Vienna,81.6,5.0,NaN,German,17.9,5.17,NaN,60.7,25.4,51.4,4.67,NaN,47.516231,14.550072,Europe
15,Belarus,47.0,BY,42.0,207.600,155.0,9.90,375.0,Minsk,58.280,NaN,5.6,BYN,1.45,42.6,0.60,6.308046e+10,100.5,87.4,2.6,Minsk,74.2,2.0,1.49,Russian,34.5,5.19,NaN,64.1,14.7,53.3,4.59,NaN,53.709807,27.953389,Europe
16,Belgium,383.0,BE,44.6,30.528,32.0,10.30,32.0,City of Brussels,96.889,117.11,1.4,EUR,1.62,22.6,1.43,5.296067e+11,103.9,79.7,2.9,Brussels,81.6,5.0,10.31,French,17.6,3.07,NaN,53.6,24.0,55.4,5.59,NaN,50.503887,4.469936,Europe

In [28]:
media = dicc['Europe']
error = stats.sem(df_Europe['life_expectancy'].dropna())
nivel_conf = 0.95
gr_libertad = len(df_Europe['life_expectancy'].dropna())
v_critico = stats.t.ppf((1+nivel_conf)/2, df= gr_libertad)
lim_inf = media - v_critico * error
lim_sup = media + v_critico * error

In [29]:
print(lim_inf, lim_sup)

78.08863180964391 80.31601935314677

In [30]:
media = dicc['Asia']
error = stats.sem(df_Asia['life_expectancy'].dropna())
nivel_conf = 0.95
gr_libertad = len(df_Asia['life_expectancy'].dropna())
v_critico = stats.t.ppf((1+nivel_conf)/2, df= gr_libertad)
lim_inf = media - v_critico * error
lim_sup = media + v_critico * error

In [31]:
print(lim_inf, lim_sup)

72.32510366625513 75.23853269738123

In [32]:
media = dicc['Africa']
error = stats.sem(df_Africa['life_expectancy'].dropna())
nivel_conf = 0.95
gr_libertad = len(df_Africa['life_expectancy'].dropna())
v_critico = stats.t.ppf((1+nivel_conf)/2, df= gr_libertad)
lim_inf = media - v_critico * error
lim_sup = media + v_critico * error

In [33]:
print(lim_inf, lim_sup)

62.055133650027805 65.39486634997219

In [36]:
media = df_Africa['gdp'].mean()
error = stats.sem(df_Africa['gdp'].dropna())
nivel_conf = 0.90
gr_libertad = len(df_Africa['gdp'].dropna())
v_critico = stats.t.ppf((1+nivel_conf)/2, df= gr_libertad)
lim_inf = media - v_critico * error
lim_sup = media + v_critico * error

In [37]:
print(lim_inf, lim_sup)

25903172096.93095 66257946190.8049

3. Ejercicios prueba de hipótesis: Hasta ahora en la lección y en los ejercicios de la clase invertida os hemos propuesto un contexto y unas hipótesis para entender que es la prueba de hipótesis. Ahora es tu turno, tienes que pensar en 2 hipótesis que quieras aceptar o rechazar usando una prueba de hipótesis en base a los datos que tenemos.

H0: La esperanza de vida es la misma en África y Oceania 


H1: La esperanza de vida no es la misma en África y Oceania

In [42]:
def prueba_hipotesis(*args):
    
    # lo primero que tenemos que hacer es mirar si las varianzas son iguales o no
    if len(args) == 2:
        p_valor_varianza = stats.levene(*args, center = "median")[1]
    else:
        p_valor_varianza = stats.bartlett(*args)[1]
    
    if p_valor_varianza > 0.05:
        # realizamos la prueba t de Student
        t_stat, p_valor = stats.ttest_ind(*args, equal_var=True, nan_policy= 'omit')
    else:
        t_stat, p_valor = stats.ttest_ind(*args, equal_var=False, nan_policy= 'omit')
        
    # Establecemos un nivel de significancia (alfa)
    alfa = 0.05
    # comparamos el p-valor con el nivel de significancia
    if p_valor < alfa:
        print("Rechazamos la hipótesis nula.")
        print("Hay una diferencia significativa en los ingresos promedio entre los dos grupos.")
    else:
        print("No podemos rechazar la hipótesis nula.")
        print("No hay evidencia suficiente para afirmar una diferencia significativa en los ingresos promedio entre los dos grupos.")

In [43]:
grupo_Africa= df_Africa['life_expectancy']
grupo_oceania= df_Oceania['life_expectancy']

In [44]:
prueba_hipotesis(grupo_Africa, grupo_oceania)

Rechazamos la hipótesis nula.
Hay una diferencia significativa en los ingresos promedio entre los dos grupos.